body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header */
  .header {
    padding: 25px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #328466;
    font-size: 30px;
    text-align: left;
    font-weight: 800;
  }