body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header */
  .header {
    padding: 10px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #00a065;
    font-size: 25px;
    text-align: left;
    font-weight: 600;
  }