.layout{
    margin: 25px 50px;
}
.header {
    padding: 5px 0px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #328466;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
  }

  .content{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  
    font-size: 15px;
    float: left;
  }

  #random-rating-button-holder{
    float: left;
    padding: 8px;
  }

  #random-rating-button{
    background-color: #4CAF50;
    color: #fff;
  }